::-webkit-scrollbar {
    display: none;
}

ul {
    padding: 0;
    list-style: none;
}

.app.london {
    background: url("static/images/lon-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.krakow {
    background: url("static/images/krk-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.naples {
    background: url("static/images/nap-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.dubai {
    background: url("static/images/dub-bg.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.app {
    font-family: "Khand", sans-serif;
}

.appBody {
    display: flex;
    align-items: center;
    height: calc(100vh - 43px);
}

.forecastWindow {
    display: flex;
    min-height: 300px;
    align-items: center;
    width: 70%;
    margin: auto;
    background: #ffffff8c;
    border: 1px solid #fff;
    border-radius: 10px;
}